@model Week4_Vehicle_App.Models.Vehicle

<br />
<div class="well">
    <h1>@Model.Year @Model.Make @Model.Model</h1>
    <h4>Horsepower: @Model.Horsepower Torque: @Model.Torque</h4>
    <h2>$@Model.Price</h2>
</div>
