@model List<Week4_Vehicle_App.Models.Motorcycle>

<br />

@Html.ActionLink("Cars", "ShowCars", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Trucks", "ShowTrucks", null, new { @class = "btn btn-primary" })


<div class="container-fluid">
    <div class="row">
        <h1>Motorcycles For Sale</h1>
        @foreach (var vehicle in Model)
        {
            <div class="well">
                <h2>@vehicle.Year @vehicle.Make @vehicle.Model</h2>
                <h4>Horsepower: @vehicle.Horsepower Torque: @vehicle.Torque</h4>
                <h2>$@vehicle.Price</h2>
                @Html.ActionLink("Details", "Details", new { id = vehicle.ID }, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>